// base color
$menuBgColor: rgb(13, 20, 31);
$menuActiveColor: #30b08f;
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
// 主题色 nth($theme, 1)根据索引可以拿到对应位置的颜色，注意：索引从1开始
$theme1: rgb(13, 20, 31), #30b08f, #48d1cc, rgb(153, 153, 153), #fff; // 主色调 背景激活颜色 按钮激活颜色 字体颜色 字体激活颜色
$theme2: rgb(119, 52, 96), rgb(78, 29, 76), rgb(119, 52, 96), #fff,
  rgb(227, 179, 37); // 主色调 背景激活颜色 按钮激活颜色 字体颜色 字体激活颜色
$theme3: rgb(131, 175, 155), rgb(254, 67, 101), rgb(200, 200, 169), #fff,
  rgb(249, 205, 173); // 主色调 背景激活颜色 按钮激活颜色 字体颜色 字体激活颜色
